* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

.sidebar {
    background-color: lightskyblue;
    height: 100vh;
    text-align: center;
}

.very-high {
    background-color: red;
}

.high {
    background-color: orange;
}

.moderate {
    background-color: yellow;
}

.low {

    background-color: green;
}

.card {
    margin: 1%;
    padding: 1%;
    box-shadow: 10px 5px 5px;
    
}



.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

 .history-button {
    transition: transform 0.2s linear;
    margin-top: 3%;
    text-align: center;
 }

 .history-button:hover {
    box-shadow: 0 5px 15px rgb(14, 13, 13);
    transform: translateY(-7px);
 }

