* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

.sidebar {
    background-color: lightskyblue;
    height: 100vh;
}

.very-high {
    background-color: red;
}

.high {
    background-color: orange;
}

.moderate {
    background-color: yellow;
}

.low {

    background-color: green;
}

.card {
    margin: 1%;
    padding: 1%;
    box-shadow: 10px 5px 5px;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }
